<h1 style="font-weight: lighter; text-align: center;">Welcome to the Contact Us page.</h1>
<h4 style="font-weight: lighter; text-align: center; color: red;">DO NOT FORGOT CODE ATTRIBUTION!!!</h4>
<div fxLayout="row" fxLayoutGap="5px">
  <mat-card fxFlex class="mat-elevation-z0">
    <mat-card-title style="text-align: center;">
      <mat-icon color="accent">navigation</mat-icon>
    </mat-card-title>
    <br/>
    <mat-card-content style="text-align: center;">
      <p>
        505 Main Street
      </p>
      <p>
        Omaha, Nebraska, 68123
      </p>
    </mat-card-content>
  </mat-card>

  <mat-card fxFlex class="mat-elevation-z0">
    <mat-card-title style="text-align: center;">
      <mat-icon color="accent">phone</mat-icon>
    </mat-card-title>
    <br/>
    <mat-card-content style="text-align: center;">
      <p>
        Direct: 555-555-5555
      </p>
      <p>
        Toll-free: 1-800-555-5555
      </p>
      <p>
        Fax: 555-555-5555
      </p>
    </mat-card-content>
  </mat-card>
</div>

<br/><br/><br/><br/>
<div fxLayout="column">
  <p style="text-align: center">
    Visit us online or at one of our many great locations throughout the Omaha metro area.
  </p>
</div>
