.header {
  margin: 0 auto;
  font-size: 34px;
  padding: 20px;
}

.user-card{
  width: 80%;
  margin: 0 auto;
  margin-bottom: 2%;
  margin-left: 10%;
  border: black 1px solid;
  box-shadow: outset 10px;
}

.info1{
  padding-left: 21%;
  font-size: 16px;
  margin-top: -15%;
  position: block;
  float: left;
}

.info2{
  padding-left: 800px;
  font-size: 16px;
  margin-top: -15%;
  position: block;
  float: left;
}

.Security{
  font-size: 16px;
  padding-left: 21%;
  margin-top: -5%;
  padding-bottom: 3%;
}

.ID{
  font-size: 18px;
  color: black;
  padding-left: 3%;
}

button{
  float: right;
}