.top-divider{
  background-color: rgb(11,32,39);
  height: 50%;
  margin-left: -20px;
  margin-right: -8px;
  margin-top: -43%;
  z-index: 0;
}

.bottom-divider{
  background-color: rgb(112, 169, 161);
  height: 65%;
  margin-left: -20px;
  margin-right: -8px;
  z-index: 0;
}

img{
  margin-left: 43.5%;
  padding-bottom: 2%;
  z-index: 1;
  margin-top: 4%;
}
