.top-divider{
  background-color: rgb(11,32,39);
  height: 40%;
  z-index: 0;
}
.bottom-divider{
  background-color: rgb(112, 169, 161);
  height: 60%;
  z-index: 0;
  position:initial;
}
img{
  height: 150px;
  width: 150px;
  margin-left: 43.5%;
  padding-bottom: 2%;
  z-index: 1;
  margin-top: 4%;
}
.content{
  z-index: 1;
}
