<div class="container">
  <div class="row">
    <div class="col-md-12">
      <img src="../../../assets/bobbi-ann.png" alt="picture of bob's computer repair shop's owner bobbi-ann" />
      <div class="col-md-6">
        All our products are sourced locally, to minimize product and shipping costs. Team Bob is ready to help you, your company, or personal needs for home or professional offices. Our technicians are Microsoft and Apple certified and accredited with all the latest IT maintenance certifications. Here at Bob’s Computer Repair Shop we want to be your one-stop shop for your computer needs!
      </div>
      <div class="col-md-6">
        Bobbi-Ann (Owner) is an experienced IT consultant with 10 years in the business. She graduated from MIT, with a master’s degree in IT and software development. She started Bob’s Computer Repair to help smaller communities with their computer and IT needs. Her goal is to provide fair prices for great products, services, and customer service.
      </div>
    </div>
  </div>
</div>
