<h1 style="font-weight: lighter; text-align: center;">Welcome to the About Us page.</h1>
<h4 style="font-weight: lighter; text-align: center; color: red;">DO NOT FORGOT CODE ATTRIBUTION!!!</h4>
<br/>
<div fxLayout="column" style="width: 70%; margin: 0 auto;">
  <p>
    <strong>Overview</strong><br/>
    Your group has been contracted by Bob’s Computer Repair Shop, to rebuild their existing service repair system.
    This system is responsible for calculating service repair fees, invoicing, and tracking purchases by service.
    Bob has expressed his concerns for security, account registration, reporting, error handling, and ease of use.
  </p>
  <br/><br/>
  <p>
    <strong>Schedule</strong><br/>
    The development of this application will encompass 3 Sprints and 5 days.
    The first 3 days will be for requirements gathering, project planning, and designing.
    The last 2 days will be for deployment and group presentations.
  </p>
</div>
