<div fxLayout="column">

  <!-- navigation -->
  <nav fxFlex>
    <mat-toolbar class = "header">
      <!-- navbar container -->
      <div class="navbar-container">
        <!-- logo -->
        <img routerLink = '/' class = "logoImg" src = "../../../assets/bob.png">
        <h1 routerLink = '/' class = "title">Bob's Computer Repair Shop</h1>
        <a class = "manage" routerLink = "/user-list">Manage Users</a>

        <a class="home" routerLink="/">Home</a>
        <a class="about" routerLink = "/about">About</a>

      </div>

    </mat-toolbar>
  </nav>

  <!--main content-->
  <div fxFlex>
    <main class="main-content" fxFlex="100%;">
      <router-outlet></router-outlet>
    </main>
  </div>

  <!-- footer -->
  <div fxFlex>
    <footer class="footer">
      <mat-toolbar class="footer-content">
        <p>
          &copy; {{year | date: 'yyyy'}} - Bob's Computer Repair Shop - <a href="https://www.bellevue.edu/" class="bu-link" target="_blank">Bellevue University</a>
        </p>
      </mat-toolbar>
    </footer>
  </div>

</div>
